.c_max_card {
    background: #FFFFFF;
    border: 1px solid #EEF8FD;
    box-sizing: border-box;
    border-radius: 2px;
}

.c_lg_bold_txt {
    font-size: 18px;
line-height: 21px;
/* identical to box height */
font-weight: 700;
display: flex;
align-items: flex-end;

color: #4F4F4F;
}
.c_chart_tag div{
    font-weight: 700;
}
.c_form_cont {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.c_d_form {
    max-height: 2em;
}
.c_drop_ico {
    position: absolute;
    right: 10px;
    top: 30%;
    width: 8%;

}