.c_ord_card {
    background: #FFFFFF;
    border: 1px solid #EEF8FD;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 1em;
    width: 100%;
}

.c_txt_bold_sm {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #262626;
    padding: 0;
    margin:0.25em 0;
}
.c_txt_sm_ord {
    font-size: 14px;
    line-height: 16px;   
    color: #262626;
    
}
.c_txt_sm_ord span{
    font-weight: 700;
}
